.blog {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;

    .posts-list {
        margin: 35px auto 25px;
        border-bottom: 1px dashed rgb(187, 187, 187);
        padding-bottom: 15px;
        width: 80%;

        .posts-list-title {
            margin-bottom: 15px;
        }

        .post-link {
            cursor: pointer;
            border-radius: 4px;
            margin-left: 10px;
            margin-bottom: 10px;
            padding: 2px 4px;

            .post-link-text {
                position: relative;

                &:after {
                    content: '';
                    width: 100%;
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
                    position: absolute;
                    bottom: -1.5px;
                    left: 0;
                    transition: all;
                    transition-duration: .2s;
                }

                &:hover {

                    &:after {
                        bottom: -3.5px;
                        border-bottom-color: rgb(69, 176, 233);
                    }
                }
            }
        }
    }

    .blog-post {
        margin: 0 auto 40px;
        max-width: 900px;
        position: relative;

        .link {
            cursor: pointer;
        }

        .top {
            position: relative;
            margin: 20px 0;

            .featured-image {
                width: 100%;
                height: auto;
            }

            .post-title {
                font-size: 2.5rem;
                line-height: 2.5rem;
                text-align: center;
            }

            .date {
                text-align: right;
                font-size: 0.9em;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
        }

        .category {
            position: absolute;
            right: 15px;
            top: 15px;
            padding: 0px 6px;
            border: 1px solid transparent;
            color: white;
            border-radius: 4px;
            z-index: 1;
            background: rgba(0, 0, 0, 0.6);
        }

        .content {
            padding: 12px 0;

            &.poem {
                text-align: center;
            }

            &:after {
                content: '';
                clear: both;
                display: table;
            }

            img {
                width: auto;
                height: auto;
            }

            .section-break {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 35px;

                &:after {
                    position: absolute;
                    content: '';
                    height: 1px;
                    background: black;
                    opacity: .75;
                    width: 8%;
                    top: 50%;
                    margin: 0 auto;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .tag {
            color: #6a4e3c;
            font-size: 0.9em;
            margin: 0 0 10px 7px;
        }

        hr {
            margin: 6px auto;
        }

        .read-more {
            text-align: right;
            cursor: pointer;
            color: #373a3c;

            .icon {
                font-size: 0.8em;
            }
        }
    }

    .scroll-to-top {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        bottom: 3%;
        cursor: pointer;
        font-size: .9rem;
        opacity: 0;
        position: fixed;
        right: 2%;
        padding: 4px 6px;
        transition: opacity;
        transition-duration: .2s;

        &.show {
            opacity: .5;
        }
    }
}
