@import './fox-animation';

.stage {
  width: 100%;
  height: 100px;
  float: left;
  background: #a5dff7;
  margin-bottom: 15px;
  background-image: url('../../dist/assets/grass-small.png');
  background-position: bottom;
  background-repeat: repeat-x;
  position: relative;
  cursor: pointer;

  .element {
    position: absolute;

  }

  .scenery {
    bottom: 19px;
  }

  .tree1 {
    height: 65px;
    left: 4%;
  }

  .tree2 {
    height: 65px;
    right: 8%;
  }

  .rock1 {
    height: 25px;
    left: 19%;
  }

  .sun {
    height: 22px;
    right: 1.5%;
    top: 1%;
  }

  .cloud {
    height: 22px;
    top: 3%;
    left: 17%;
  }

  .cloud2 {
    height: 21px;
    top: 9%;
    left: 28%;
    z-index: 2;
  }

  .cloud3 {
    height: 26px;
    top: 2%;
    left: 52%;
  }

  .regular {
    background-position-x: -80px;
  }

  .jump {
    background-position-x: 0px;
  }

  .jump-start {
    background-position-x: -38px;
  }

  .front {
    background-position-x: -119px;
  }

  .front-blink {
    background-position-x: -159px;
  }
}
