.fox {
  position: absolute;
  width: 38px;
  height: 23px;
  background-image: url('../../dist/assets/fox-sprite.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  bottom: 19px;
  left: 65%;
  background-position-x: -80px;
  animation: 0s linear 0.8s 1 forwards stare,
  0s linear 1.6s 1 forwards blink,
  0s linear 2s 1 forwards stare,
  0s linear 2.8s 1 forwards regular,
  0s linear 3.8s 1 forwards start-jump,
  1s linear 3.8s 1 forwards lift,
  0s linear 4.3s 1 forwards jump,
  1s linear 3.8s 1 forwards move-first,
  0s linear 4.8s 1 forwards regular,
  0s linear 5.4s 1 forwards start-jump,
  1s linear 5.4s 1 forwards lift,
  0s linear 5.9s 1 forwards jump,
  1s linear 5.4s 1 forwards move-second,
  0s linear 6.4s 1 forwards regular,
  0.2s ease-out 7s 1 forwards turn,
  0s linear 7.4s 1 forwards start-jump-back,
  1s linear 7.4s 1 forwards lift,
  0s linear 7.9s 1 forwards jump,
  1s linear 7.4s 1 forwards move-third,
  0s linear 8.4s 1 forwards regular-back,
  0s linear 9.2s 1 forwards stare,
  0s linear 10s 1 forwards blink,
  0s linear 10.4s 1 forwards stare,
  0s linear 11.2s 1 forwards start-jump-back,
  1s linear 11.2s 1 forwards lift,
  0s linear 11.7s 1 forwards jump,
  1s linear 11.2s 1 forwards move-fourth,
  0s linear 12.2s 1 forwards regular-back,
  0.2s ease-out 12.8s 1 forwards turn-again;
}

@keyframes lift {
  20% {
    bottom: 27px;
  }
  50% {
    bottom: 29px;
  }
  100% {
    bottom: 19px;
  }
}

@keyframes move-first {
  to {
    left: 50%;
  }
}

@keyframes move-second {
  from {
    left: 50%;
  }
  to {
    left: 35%;
  }
}

@keyframes move-third {
  from {
    left: 35%;
  }
  to {
    left: 50%;
  }
}

@keyframes move-fourth {
  from {
    left: 50%;
  }
  to {
    left: 65%;
  }
}

@keyframes start-jump {
  to {
    background-position-x: 0px;
    transform: rotate(12deg);
  }
}

@keyframes start-jump-back {
  to {
    background-position-x: 0px;
    transform: rotate(348deg);
    transform: scaleX(-1);
  }
}

@keyframes jump {
  to {
    background-position-x: -38px;
  }
}

@keyframes regular {
  to {
    background-position-x: -80px;
    transform: rotate(0deg);
  }
}

@keyframes regular-back {
  to {
    background-position-x: -80px;
    transform: rotate(0deg);
    transform: scaleX(-1);
  }
}

@keyframes stare {
  from {
    background-position-x: -80px;
  }
  to {
    background-position-x: -119px;
  }
}

@keyframes blink {
  from {
    background-position-x: -119px;
  }
  to {
    background-position-x: -159px;
  }
}

@keyframes turn {
  to {
    transform: scaleX(-1);
  }
}

@keyframes turn-again {
  from {
    transform: scaleX(-1);
  }
  to {
    transform: scaleX(1);
  }
}
