.timeline {

  .event-pair {
    display: flex;
    position: relative;

    &:first-of-type > * {
      padding-top: 20px;
    }

    &:last-of-type  {
      .event-right {
        padding-bottom: 20px;
      }
    }

    .marker {
      position: absolute;
      left: -31px;
      top: 7px;
      width: 20px;
      height: 20px;
    }

    .event {
      position: relative;
      border-right: 2px solid #787074;
      padding: 0;

      .date {
        margin-bottom: 3px;
      }

      .event-description {
        font-size: 0.9em;
      }

      .event-title {
        font-weight: 400;
        margin-bottom: 3px;
      }
    }

    .event-left {
      width: 10%;
      text-align: right;

      &+ .event {
        border-right: none;
      }
    }

    .event-right {
      width: 90%;
      text-align: left;
      margin-left: 20px;
      padding: 10px;
      background-color: #fdf9ee;
      border: 1px solid transparent;
      border-radius: 5px;
      margin-bottom: 20px;
    }
  }
}
